rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Global Configs
    match /users/data { allow read, write: if true; }
    match /branches/data { allow read, write: if true; }
    match /leaveRequests/data { allow read, write: if true; }
    match /test/connection { allow read, write: if true; }
    
    // Branch Data
    match /branches/{branchId} {
      allow read, write: if true;
      match /{allSubcollections=**} {
        allow read, write: if true;
      }
    }

    // Default Deny
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
